/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Verdana', Geneva, sans-serif;
}

/* Global Styles */
body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Wrapper */
.wrapper {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    width: 100%;
    height: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
}

/* Typography */
h1, h3 {
    text-align: center;
    margin-bottom: 15px;
    color: #2f5547;
    font-weight: 900;
}

/* Buttons */
button, .button {
    background-color: #88b98f;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover, .button:hover {
    background-color: #6ea377;
}

#botao {
    width: 200px;
}

#botaozinho {
    width: 120px;
}

/* Table */
table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

td, th {
    border: 1px solid #ddd;
    padding: 10px 15px;
    text-align: center;
}

th {
    background-color: #88b98f;
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #e7f2ec;
}

tr:hover {
    background-color: #d9eae0;
}

/* Close Button */
#close-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: white;
    padding: 8px 12px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

#close-btn:hover {
    background-color: #6ea377;
}

/* Container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}
